/*
    AUTHOR: PAULO VICTOR
    DATE: 28/11/2020
    TIME: 20:54
*/
*{
    font-family: 'Montserrat';
}
*:focus{
    outline: 0;
}
.font-merriweather{
    font-family: 'Merriweather';
}
body{
    height: 100%;
}
.fast-contacts p{
    font-size: 12px;
}
.text-blue{
    color: #002B59;
}
.bg-image{
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: bottom center;
    position: relative;
}
.overflow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 43, 89, 0.83);
}
.call-header h1{
    font-size: 48px;
}
.call-header p{
    font-size: 'Montserrat';
    font-size: 18px;
    font-weight: 300;
}
.btn-whatsapp{
    padding: 10px 20px;
    background-color: #34AF23;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.774);
    color: white;
    display: inline-block
}
.btn-custom{
    padding: 10px 20px;
    background-color: #002B59;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.774);
    color: white;
    display: inline-block
}
.btn-whatsapp:hover{
    color: white;
    text-decoration: none;
}
.container-differences{
    margin-top: -80px;
    padding: 20px 10px;
    background-color:#002B59;
    border-radius: 10px;
    position: relative;
}
.differences{
    border-right: 3px solid #B6B7B9;
    padding-right: 10%;
}
.differences p{
    color: #B6B7B9;
}
.item-acting{
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 43, 89, 0.25)
}
.single-comment{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 43, 89, 0.25);
}
}
.slick-dots li button:before {
    color: white !important;
}
.slick-dots li.slick-active button:before {
    color:#C4C4C4 !important;
}
.bg-image-section{
    width: 100%;
    background-size: cover;
    background-position: bottom center;
    position: relative;
}
.overflow-section{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    background-color: rgba(0, 43, 89, 0.83);
}
.question{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 43, 89, 0.25);
    background-color: white;
    z-index: 8;
    position: relative;
    cursor: pointer;
}
.question-answer{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 43, 89, 0.25);
    margin-top: -40px;
    padding-top: 60px;
    display: none;
}
.input-contact{
    width: 60%;
    padding: 10px 20px;
    border: 1px solid  rgba(0, 43, 89, 1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 43, 89, 0.25);
}
.input-contact-submit{
    padding: 10px 20px;
    border: 1px solid  rgba(0, 43, 89, 1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 43, 89, 0.25);
    background-color: white;
    display: block;
    margin: 0 auto;
}
.line-blue{
    border-color: #002B59;
}
@media screen and (max-width: 768px){
    .fast-contacts{
        text-align: center;
    }
    .fast-contacts p{
        padding-bottom: 7px;
    }
    .differences{
        border-right: none;
        padding-right: 0;
        margin-bottom: 40px;
    }
    .input-contact{
        width: 100%;
    }
}